<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Random Title</title>

    <!-- CSS link (loading Semantic UI from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link type="text/css" href="/styles/styles.css" rel="stylesheet" />

</head>

<body class="container body">

    <header>
        <div class="ui inverted menu">
            <a class="item" href="/">
                Home
            </a>
            <a class="item" href="/magic">
                Magic
            </a>
        </div>
    </header>
</body>